p {
    font-size: x-large;
    line-height: 1.8;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

figcaption {
    font-style: italic;
}

img#img001, img#img002 {
    align-items: center;
}

h1 {
    font-size: 48px;
}

h2, h3, h4, h5, h6 {
    font-size: 24px;
}

  